
@{
    ViewData["Title"] = "Index";
}

<!-- portfolio section -->
  <section class="portfolio_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our portfolio
        </h2>
        <p>
          minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
      </div>
      <div class="portfolio_container layout_padding2">
        <div class="box-1">
          <div class="img-box b-1">
            <img src="~/images/p-1.jpg" alt="">
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
          <div class="img-box b-2">
            <img src="~/images/p-2.jpg" alt="">
            <div class="btn-box">
              <a href="" class="btn-1">

              </a>
            </div>
          </div>
        </div>
        <div class="box-2">
          <div class="box-2-top">
            <div class="img-box b-3">
              <img src="~/images/p-3.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-top2">
            <div class="img-box b-4">
              <img src="~/images/p-4.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
          <div class="box-2-btm">
            <div class="img-box b-5">
              <img src="~/images/p-5.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
            <div class="img-box b-6">
              <img src="~/images/p-6.jpg" alt="">
              <div class="btn-box">
                <a href="" class="btn-1">

                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="see_btn">
        <a href="">
          See More
        </a>
      </div>
    </div>

  </section>

  <!-- end about section -->